*{
    margin: 0;
}

main{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

form{
    margin: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}

fieldset{
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.input-class{
    margin: 15px;
}

input{
    height: 15px;
}

.buttons-container{
    width: 500px;
    display: flex;
    justify-content: space-around;
}